<h1>Productos en Tiempo Real</h1>

<ul id="productList">
  {{#each products}}
  <li id="product-{{id}}">
    {{title}} - ${{price}}
    <button onclick="removeProduct({{id}})">Eliminar</button>
  </li>
  {{/each}}
</ul>

<a href="/">
  <button>Ver Productos en la Página Principal</button>
</a>

<form id="addProductForm">
  <input type="text" id="productName" placeholder="Nombre del producto" required>
  <input type="number" id="productPrice" placeholder="Precio" required>
  <button type="submit">Agregar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  socket.on('updateProducts', (products) => {
    const productList = document.getElementById('productList');
    productList.innerHTML = '';
    products.forEach((product) => {
      const li = document.createElement('li');
      li.id = 'product-' + product.id;
      li.innerHTML = `${product.title} - $${product.price} <button onclick="removeProduct(${product.id})">Eliminar</button>`;
      productList.appendChild(li);
    });
  });

  document.getElementById('addProductForm').addEventListener('submit', (event) => {
    event.preventDefault();
    const name = document.getElementById('productName').value;
    const price = parseFloat(document.getElementById('productPrice').value);
    const newProduct = { id: Date.now(), title: name, price };
    socket.emit('addProduct', newProduct);
  });

  function removeProduct(productId) {
    socket.emit('removeProduct', productId);
  }
</script>